{% extends 'base.html.twig' %}

{% block body %}
    <h1>User creation</h1>

    {{ form_start(form,{'attr':{'class':'form'}}) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" class="btn btn-primary"/>
    {{ form_end(form) }}
    <a href="{{ path('users_index') }}" class="btn btn-primary">Users</a>
{% endblock %}
